In [1]:
import re
import pandas as pd

In [2]:
df = pd.read_csv('G:\My Drive\AnjanaValsalan_ECNG 3020\Implementation Files\Tweets\sentiment_tweets3.csv')
df.drop('Index',axis='columns',inplace=True)

In [3]:
tweet = df['message to examine']

In [4]:
tweet_list=tweet.tolist()
length = len(tweet_list)

In [6]:
def cleaner(tweets):
    new_tweet = []
    for i in range(len(tweets)):
        clean_tweet = re.sub("@[A-Za-z0-9_]+","", tweets[i])
        clean_tweet = re.sub("#[A-Za-z0-9_]+","", clean_tweet)
        new_tweet.append(clean_tweet)
    return new_tweet

In [7]:
clean_set = cleaner(tweet_list)

In [8]:
df_new = pd.DataFrame(clean_set, columns = ['sentence'])

In [9]:
df_new

                                                sentence
0      just had a real good moment. i missssssssss hi...
1             is reading manga  http://plurk.com/p/mzp1e
2       http://twitpic.com/2y2lx - http://www.youtube...
3       Need to send 'em to my accountant tomorrow. O...
4          ADD ME ON MYSPACE!!!  myspace.com/LookThunder
...                                                  ...
10309  No Depression by G Herbo is my mood from now o...
10310  What do you do when depression succumbs the br...
10311  Ketamine Nasal Spray Shows Promise Against Dep...
10312  dont mistake a bad day with depression! everyo...
10313                                                  0

[10314 rows x 1 columns]